.popup__submit-button {
    width: 358px;
    background-color: #000;
    color: #fff;
    margin: 0 auto 37px;
    padding: 14px 0 18px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

.popup__submit-button:hover{
    opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 535px) {
    .popup__submit-button {
        width: 238px;
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 14px;
        margin-bottom: 25px;
    }
}