    .profile__button_edit {
        width: 24px;
        height: 24px;
        justify-content: center;
        margin-left: 25px;
        cursor: pointer;
    }
    
    .profile__button_edit:hover {
        opacity: 0.6;
    }