.profile__add-button {
    width: 150px;
    height: 50px;
    margin: auto 0 auto auto;
    box-sizing: border-box;
    background-image: url(../../../images/Add_Button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    
}

.profile__add-button:hover{
    opacity: 0.6;
}


@media screen and (min-width: 320px) and (max-width: 787px) {
    .profile__add-button { 
        width: 282px;
        justify-self: center;   
        margin: 36px auto 0;
    }
}