.profile__change-button {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Edit_Button.svg);
    background-size: cover;
    margin-top: 15px; 
    border: none; 
    font: inherit; 
    color: inherit; 
    background-color: transparent; 
    cursor: pointer;
    
}

.profile__change-button:hover{
    opacity: 0.6;
}


@media screen and (min-width: 320px) and (max-width: 787px) {
    .profile__change-button { 
        width: 18px;
        height: 18px;   
        margin: 8px 19px 0 10px; 
    }
}